.ok-main-loader{
  height: calc(100vh - 150px);
  align-items: center;
}
.ok-site-header .ok-site-logo img {
  height: auto;
}
.ok-foot-logo > a > img{
  height: auto;
}

div[data-widget="ok-month"],div[data-widget="ok-month"] .ok-calendar{
  width: 100%;
}

/* --------------------- */
/* okcalendar.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&family=Khand:wght@300;400;500;600;700&family=Mukta:wght@300;400;500;600;700;800&display=swap");

body.ok-popup-open {
  overflow: hidden;
}

.ok-title {
  font-size: 21px;
  font-weight: 600;
  line-height: 18px;
  margin: 0;
  color: #000;
  font-family: "Mukta", sans-serif;
}
.ok-null-data {
  font-size: 18px;
  color: #fa3a2e;
  margin-top: 15px;
  font-weight: 500;
  font-family: "Mukta", sans-serif;
}
.ok-flex {
  gap: 5px;
  display: flex;
}
.ok-flex-m {
  align-items: center;
}
.ok-calendar {
  font-family: "Mukta", sans-serif;
  font-weight: 600;
  color: #4e4e4e;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.ok-calendar a,
.ok-calendar a:hover {
  text-decoration: none;
  color: inherit;
  font-family: "Mukta", sans-serif;
}
.ok-card-target{
  display: block;
  width: max-content;
}
.ok-card {
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.ok-error {
  padding: 20px;
  width: max-content;
  text-align: center;
   font-family: "Mukta", sans-serif;
}
.ok-error-title {
  color: #fa3a2e;
  font-size: 20px;
  margin-bottom: 10px;
   font-family: "Mukta", sans-serif;
}

/* Ok Calendar Day Starts */
.ok-day {
  display: grid;
  align-items: center;
  grid-template-columns: 65px 1fr;
  width: max-content;
  gap: 15px;
  padding: 30px;
}
.ok-day-circle {
  height: 65px;
  width: 65px;
  min-width: 65px;
  border-radius: 50%;
  background: linear-gradient(118deg, #1d63ed 9.69%, #aa1ded 145.12%);
  text-align: center;
  line-height: 65px;
  font-size: 33px;
  color: #fff;
  font-family: "Mukta", sans-serif;
}
.ok-day-date {
  margin-bottom: 5px;
  font-size: 28px;
  font-weight: 700;
  line-height: 26px;
  color: #1a1642;
  font-family: "Mukta", sans-serif;
}
.ok-badge {
  display: inline-block;
  vertical-align: top;
  font-family: "Mukta", sans-serif;
  background-color: rgba(26, 22, 66, 0.08);
  padding: 0 15px;
  border-radius: 48px;
  color: #4e4e4e;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
}
.ok-badge.ok-eng-font {
  font-size: 12px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}
.ok-day-info > div:first-child span:first-child {
  margin-left: 10px;
}

.ok-day-info > div:first-child small {
  font-size: 14px;
   font-family: "Mukta", sans-serif;
}

.ok-day-site-info {
  font-size: 15px;
  font-weight: 600;
  line-height: 26px;
  color: #1a1642;
   font-family: "Mukta", sans-serif;
}
.ok-day-sunrise {
  font-size: 13px;
  color: rgba(59, 56, 94, 0.8);
  font-weight: 500;
  margin-left: 10px;
   font-family: "Mukta", sans-serif;
}
.ok-day-current {
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  color: #2f76ff;
  margin-right: 8px;
  margin-left: 8px;
   font-family: "Mukta", sans-serif;
}
/* Ok Calendar Day Ends */

/* Ok Calendar Day Small Starts */
.ok-day-sm {
  display: grid;
  align-items: center;
  grid-template-columns: 45px 1fr;
  width: max-content;
}

.ok-card-date-info {
  height: 45px;
  width: 45px;
  border-radius: 4px;
  text-align: center;
  background-color: rgba(26, 22, 66, 0.05);
  margin-right: 10px;
  font-size: 16px;
  line-height: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Mukta", sans-serif;
}
.ok-card-date-info > span {
  font-size: 11px;
  display: block;
  line-height: 16px;
   font-family: "Mukta", sans-serif;
}

.ok-card-info {
  font-size: 15px;
  flex: 2;
  margin-left: 10px;
  color: inherit;
   font-family: "Mukta", sans-serif;
}
.ok-card-info p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 2px;
  font-family: "Mukta", sans-serif;
}
.ok-card-info .ok-card-tithi {
  font-size: 13px;
  font-weight: 700;
  font-family: "Mukta", sans-serif;
}
.ok-card-flex {
  display: flex;
  align-items: center;
  gap: 3px;
}
.ok-card-flex span {
  color: rgba(59, 56, 94, 0.6784313725);
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
  font-family: "Mukta", sans-serif;
}

.ok-card-flex span.ok-eng-font {
  font-size: 11px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.ok-card-event {
  display: inline-block;
  background-color: #f1f1f1;
  color: inherit;
  line-height: 18px;
  padding: 0 6px;
  border-right: 4px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
}

/* Ok Calendar Day Small Ends */

/* Ok Calendar Month Starts */
.ok-month{
  padding: 0;
}
.ok-month-header{
  padding: 20px 10px;
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.ok-month-selected{
  display: flex;
  align-items: center;
}

.ok-month-selected span {
	font-size: 16px;
  color: #4b4b4b;
  font-weight: 700;
	font-family: "Mukta", sans-serif;
}
.ok-month-selected span.ok-eng-font{
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-left: 5px;
}
.ok-month-col, .ok-month-days {
	font-family: "Mukta",sans-serif;
	font-weight: 700;
	border-top: solid 1px #e0e8f0;
	border-right: solid 1px #e0e8f0;
	text-align: center;
}
.ok-month-col{
  position: relative;
  cursor: pointer;
  text-align: center;
  height: 120px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  font-weight: 500;
  transition: all 0.3s ease;
  color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.ok-month-col:hover {
	background-color: #f7f7fa;
}
.ok-month-days {
	font-size: 14px;
	font-weight: 600;
	padding: 10px;
	color: #333333;
}
.ok-month-days > span {
	font-family: "Inter", sans-serif;
	display: block;
	font-size: 12px;
	margin-top: 5px;
	color: rgba(51, 51, 51, 0.4784313725);
}
.ok-month-col-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 14px;
	font-weight: 500;
	padding: 8px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-bottom: 0;
	line-height: 17px;
}
.ok-month-col-date {
	cursor: pointer;
	text-align: center;
	font-size: 38px;
	font-weight: 500;
}
.ok-month-col-event{
	display: inline-block;
	background-color: #f1f1f1;
	color: inherit;
	line-height: 18px;
	padding: 0 6px;
	border-right: 4px;
	font-size: 12px;
	position: absolute;
	right: 10px;
	bottom: 25px;
	border-radius: 4px;
	cursor: pointer;
	color: #000;
}
.ok-month-col-left {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 5px;
	font-size: 12px;
	font-weight: 500;
}
.ok-month-col-right {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 5px;
	font-size: 12px;
	font-weight: 500;
	left: auto;
	right: 0;
}
.ok-month-col-right > span {
	font-size: 12px;
	font-weight: 500;
}
/* Ok Calendar Month Starts */


/* Ok Calendar Month Small Starts */
.ok-month-sm-header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  font-family: "Mukta", sans-serif;
}
.ok-month-sm-selected {
  text-align: center;
  padding: 10px 10px 15px;
}
.ok-month-sm-selected span {
  display: block;
  color: #2e75ff;
  font-size: 18px;
  font-weight: bold;
  font-family: "Mukta", sans-serif;
}
.ok-month-sm-selected span.ok-eng-font {
  color: #1a1642;
  font-size: 14px;
  margin-top: 5px;
  font-family: "Inter", sans-serif;
}
.ok-month-jump-between {
  margin: 0 10px;
  display: inline-block;
  background: #ededf0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.ok-month-jump-between:hover {
  background: #106ece;
}
.ok-month-jump-between svg {
  color: #324c7e;
  font-size: 25px;
}
.ok-month-jump-between:hover svg {
  color: #fff;
}
.ok-month-sm-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.ok-month-sm-days {
  font-size: 14px;
  font-weight: 700;
  color: #1a1642ad;
  text-align: center;
  font-family: "Mukta", sans-serif;
  padding: 7px;
}
.ok-month-sm-col {
  font-size: 18px;
  font-weight: 700;
  color: #1a1642;
  text-align: center;
  padding: 16px 10px;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  font-family: "Mukta", sans-serif;
}
.ok-month-sm-col:hover {
  background: #ededf0;
}
.ok-month-sm-col span.ok-eng-font {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 6px 5px;
  font-size: 9px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}
.ok-month-sm-event {
  position: absolute;
  top: 7px;
  right: 5px;
  background: #2e75ff;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
.ok-month-today {
  background: #2e75ff !important;
  color: #fff;
  font-family: "Mukta", sans-serif;
}

.ok-month-holiday {
  color: #fd2929;
  font-family: "Mukta", sans-serif;
}
.ok-month-holiday .ok-month-sm-event {
  background: #fd2929;
    font-family: "Mukta", sans-serif;
}
.ok-month-today-holiday {
  background: #fd2929 !important;
  color: #fff;
    font-family: "Mukta", sans-serif;
}

.ok-month-today .ok-month-sm-event,
.ok-month-today-holiday .ok-month-sm-event {
  background: #ffffffab;
}
.ok-disabled-month {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.18);
}

.ok-month-popup {
  display: grid;
  grid-template-columns: 55px 1fr;
  gap: 15px;
}
.ok-month-popup .ok-day-circle {
  height: 55px;
  width: 55px;
  min-width: 55px;
  line-height: 55px;
  font-size: 28px;
}
.ok-month-info .ok-badge {
  margin-top: 10px;
}
.ok-month-event {
  padding: 20px 0;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  margin-top: 25px;
}
.ok-month-event-list ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.ok-month-event-list {
  margin-top: 5px;
}
.ok-month-event-list ul li {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: #1a1642ad;
  position: relative;
  padding-left: 16px;
  font-family: "Mukta", sans-serif;
}
.ok-month-event-list ul li:not(:last-child) {
  margin-bottom: 10px;
}
.ok-month-event-list ul li::before {
  content: "";
  background: #bcbcbcfc;
  width: 8px;
  height: 8px;
  left: 0;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.ok-month-event .ok-title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.ok-month-event .ok-badge.ok-event-holiday {
  background: #fd292912;
  color: #fd2929e5;
}
.ok-month-event .ok-month-event-list ul li.danger {
  color: #fd2929;
}
.ok-month-event .ok-month-event-list ul li.danger::before {
  background: #fd2929;
}
.ok-month-panchanga {
  padding-top: 20px;
}
.ok-month-panchanga-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid #e9e9e9;
  margin-top: 20px;
}
.ok-month-panchanga-list .ok-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e9e9e9;
  padding: 15px;
  gap: 10px;
}
.ok-month-panchanga-list .ok-wrapper:nth-of-type(2n + 1) {
  border-right: 1px solid #e9e9e9;
  padding-left: 0;
}
.ok-month-panchanga-list .ok-wrapper > div:first-child {
  font-size: 14px;
  font-weight: 700;
  color: #1a1642ad;
  font-family: "Mukta", sans-serif;
}
.ok-month-panchanga-list .ok-wrapper div:last-child {
  font-size: 14px;
  font-weight: 500;
  color: #1a16427a;
  text-align: right;
  font-family: "Mukta", sans-serif;
}
.ok-month-panchanga-list .ok-wrapper div:last-child.ok-eng-font {
  font-size: 12px;
  font-family: "Inter", sans-serif;
}
/* Ok Calendar Month Small Ends */

/* Ok Calendar Custom Popup Ends */
.ok-custom__popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  visibility: hidden;
  z-index: 1000;
  transition: none;
  font-family: "Mukta", sans-serif;
}
.ok-custom__popup .ok-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.ok-custom__popup .ok-custom__popup__model {
  height: 460px;
  overflow-y: auto;
  width: 90%;
  max-width: 700px;
  background: #f5f5f5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 5px;
  transition: none;
}
.ok-custom__popup .ok-custom__popup__model .ok-custom__popup__head {
  background-image: linear-gradient(118deg, #1d63ed 9.69%, #aa1ded 145.12%);
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.ok-custom__popup .ok-custom__popup__model .ok-custom__popup__head h2 {
  font-size: 20px;
  font-family: "Mukta", sans-serif;
}
.ok-custom__popup .ok-custom__popup__model .ok-custom__popup__content {
  padding: 20px;
  font-family: "Mukta", sans-serif;
}

.ok-custom__popup .ok-custom__popup__model .ok-close__popup {
  padding: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
.ok-custom__popup .ok-custom__popup__model .ok-close__popup:hover {
  opacity: 0.8;
}

.ok-custom__popup.popup__small .ok-custom__popup__model {
  max-width: 500px;
  min-height: -moz-max-content;
  min-height: max-content;
  height: -moz-max-content;
  height: max-content;
}
.ok-custom__popup.popup__big .ok-custom__popup__model {
  min-height: 90vh;
  height: 90vh;
}
.ok-custom__popup.popup__top .ok-custom__popup__model {
  top: 0;
}

.ok-custom__popup.active {
  opacity: 1;
  visibility: visible;
  animation: okpopup 0.3s linear;
  -webkit-animation: okpopup 0.3s linear;
}
.ok-custom__popup.active .ok-custom__popup__model {
  animation: okpopupContent 0.3s linear;
  -webkit-animation: okpopupContent 0.3s linear;
}
.ok-custom__popup.active .ok-custom__popup__model label {
  margin-bottom: 5px;
  display: block;
  font-family: "Mukta", sans-serif;
}
.ok-custom__popup.active.popup__top .ok-custom__popup__model {
  top: 30px;
  transform: translate(-50%, 0);
}

@keyframes okpopup {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes okpopupContent {
  0% {
    top: 40%;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    top: 50%;
    opacity: 1;
    visibility: visible;
  }
}
/* Ok Calendar Custom Popup Ends */

/* Ok Calendar Holidays Starts */
.ok-holidays {
  width: 300px;
  height: 400px;
  overflow: auto;
  background: #f5f5f5;
}
.ok-holidays-wrapper {
  display: grid;
  align-items: flex-start;
  grid-template-columns: 45px 1fr;
  width: 100%;
  border-radius: 8px;
  position: relative;
  background: #fff;
}
.ok-holidays-wrapper > div{
  margin: 10px;
}
.ok-holidays-wrapper:not(:last-child) {
  margin-bottom: 5px;
}
.ok-card-day-remaining {
  background-color: rgba(253, 41, 41, 0.05);
  color: #fd2929;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  padding: 0 10px;
  border-radius: 28px;
  white-space: nowrap;
  align-self: flex-start;
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: "Mukta", sans-serif;
}
.ok-card-holiday-info,
.ok-card-holiday-info .ok-card-flex span {
  color: #fd2929;
  font-family: "Mukta", sans-serif;
}
.ok-card-holiday {
  font-family: "Mukta", sans-serif;
  padding-right: 80px;
}
.ok-card-holiday p{
  color: #fd2929;
}
.ok-holidays h2 {
  margin: 0;
  text-align: center;
  color: inherit;
  font-weight: 600;
  padding: 15px 10px;
  border-bottom: 1px solid #eee;
  background: #fff;
  position: sticky;
  top: -11px;
  z-index: 100;
  font-size: 22px;
  font-family: "Mukta", sans-serif;
}
/* Ok Calendar Holidays Ends */
.ok-eng-font {
  font-family: "Inter", sans-serif;
}