@media (max-width: 1500px) {
  .top__header .custom-logo {
    width: 460px;
  }

  .banner__text .banner__heading {
    font-size: 70px;
    line-height: 74px;
  }
  .banner__text p {
    font-size: 25px;
    line-height: 35px;
  }
  .main__heading {
    font-size: 130px;
    line-height: 100px;
  }
  .map__section .map__content {
    padding: 30px;
  }
  .map__content p {
    font-size: 20px;
    line-height: 30px;
  }
  .service__content ul {
    grid-template-columns: repeat(1, 1fr);
  }

  .service__content ul li span {
    font-size: 60px;
    line-height: 80px;
  }
  .service__content ul li {
    grid-template-columns: 90px 1fr;
    font-size: 22px;
    line-height: 30px;
  }

  .service__section::before {
    top: -40px;
    width: 700px;
    height: 280px;
  }
  .testimonial__section::before {
    top: 80px;
    width: 200px;
  }
  .site-footer::after {
    height: 400px;
    width: 730px;
  }

}

@media (max-width: 1199px) {
  .site-footer::after {
    display: none;
   }
}
@media (max-width: 959px) {
  /* offcanvas */
  .offcanvas {
    min-height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10000;
    left: -100%;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
    display: block;
  }
  .offcanvas.show {
    left: 0;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
  }
  .offcanvas::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #1a1a1abf;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .offcanvas .offcanvas__bar {
    width: 100%;
    position: relative;
    z-index: 10;
    height: 100%;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
    position: absolute;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
    transition: all 0.6s linear;
  }
  .offcanvas .offcanvas__bar .offcanvas__sidebar {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    min-width: 300px;
    background: #fff;
    position: relative;
    z-index: 10;
    height: 100%;
    overflow-y: auto;
  }
  .offcanvas .offcanvas__bar.showbar {
    left: 0;
  }

  .offcanvas__logo {
    padding: 20px;
  }
  .offcanvas__logo .custom-logo-link {
    display: block;
    text-align: center;
  }
  .offcanvas__logo a img {
    width: 250px;
    margin: 0 auto;
  }
  .offcanvas__close {
    position: absolute;
    top: 10px;
    background: #fff;
    width: 50px;
    height: 50px;
    z-index: 100;
    left: 310px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }

  .offcanvas__close .offcanvas__icon {
    width: 20px;
    line-height: 0;
  }
  .offcanvas__close .offcanvas__icon span {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 2px;
    vertical-align: top;
    background: var(--primary);
  }
  .offcanvas__close .offcanvas__icon span + span {
    margin-top: 5px;
  }

  .offcanvas.show .offcanvas__close .offcanvas__icon span:nth-child(1) {
    -webkit-animation: ease 0.7s 0.6s icon1 forwards;
    animation: ease 0.7s 0.6s icon1 forwards;
  }

  .offcanvas.show .offcanvas__close .offcanvas__icon span:nth-child(2) {
    -webkit-animation: ease 0.7s 0.6s icon2 forwards;
    animation: ease 0.7s 0.6s icon2 forwards;
  }

  .offcanvas.show .offcanvas__close .offcanvas__icon span:nth-child(3) {
    -webkit-animation: ease 0.7s 0.6s icon3 forwards;
    animation: ease 0.7s 0.6s icon3 forwards;
  }
  @-webkit-keyframes icon1 {
    0% {
      top: 0;
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    50% {
      top: 7px;
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      top: 7px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  @keyframes icon1 {
    0% {
      top: 0;
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    50% {
      top: 7px;
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      top: 7px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  @-webkit-keyframes icon2 {
    50% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  }
  @keyframes icon2 {
    50% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  }
  @-webkit-keyframes icon3 {
    0% {
      bottom: 0;
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    50% {
      bottom: 7px;
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      bottom: 7px;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
    }
  }
  @keyframes icon3 {
    0% {
      bottom: 0;
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    50% {
      bottom: 7px;
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      bottom: 7px;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
    }
  }
  .offcanvas ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #primary-menu1 {
    padding: 0;
    /* border-top: 1px solid #eee; */
  }
  #primary-menu1 > li > a {
    color: #666;
    text-transform: capitalize;
    font-size: 16px;
    padding: 12px 20px;
    display: block;
    font-weight: 500;
  }

  #primary-menu1 > li > ul,
  #primary-menu1 > li > ul > li > ul {
    display: none;
  }

  #primary-menu1 li {
    position: relative;
    cursor: pointer;
  }
  #primary-menu1 > li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  #primary-menu1 > li:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }

  #primary-menu1 > li > a:hover,
  #primary-menu1 > li a.show-active,
  #primary-menu1 > li > a:focus,
  #primary-menu1 > li:hover > a,
  #primary-menu1 > li:focus > a {
    background: #1a1a1a0d;
    color: var(--tertiary);
  }
  #primary-menu1 > li.menu-item-has-children ul li a.show-active {
    background: #2f3336;
  }
  #primary-menu1 > li.menu-item-has-children a.show-active ~ span > i {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
  }
  #primary-menu1 > li > ul > li:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  #primary-menu1 li.menu-item-has-children span {
    color: var(--tertiary);
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 20px;
    width: 40px;
    height: 40px;
    background: #1a1a1a1c;
    right: 0;
  }
  #primary-menu1 li.menu-item-has-children span i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 12px;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }
  #primary-menu1
    li.menu-item-has-children
    > ul
    > li.menu-item-has-children
    span {
    background: #fff;
  }
  #primary-menu1 li.menu-item-has-children > ul {
    /* margin-top: 5px; */
    border-bottom: 1px solid #eee;
    /* padding-bottom: 10px; */
    background: var(--tertiary);
  }

  #primary-menu1
    li.menu-item-has-children
    > ul
    > li.menu-item-has-children
    > ul {
    background: #fff;
    margin: 0;
    margin-top: 0;
    border-radius: 0;
    padding: 0;
    border-bottom: 1px solid transparent;
  }
  #primary-menu1 > li.menu-item-has-children > span {
    top: 20px;
  }

  /* #primary-menu1 > li.menu-item-has-children ul li {
     border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    } */
  #primary-menu1 > li.menu-item-has-children ul li a {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    padding: 10px 30px;
    display: block;
    text-transform: capitalize;
  }

  #primary-menu1 > li ul li:hover > a {
    /* color: var(--primary); */
    background: #0058880d;
  }

  #primary-menu1
    > li.menu-item-has-children
    ul
    li.menu-item-has-children
    ul
    li
    a {
    padding-left: 40px;
    color: var(--tertiary);
  }

  #primary-menu1
    > li.menu-item-has-children
    ul
    li.menu-item-has-children
    ul
    li.menu-item-has-children
    ul
    li
    a {
    padding-left: 60px;
  }
  .offcanvas__details {
    border-top: 1px solid #eee;
    padding: 10px;
    background: #1a1a1a0d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .offcanvas__details .header__contact a {
    font-size: 18px;
    font-family: var(--medium-font);
  }
  .offcanvas__details .header__contact img {
    width: 30px;
    margin-right: 3px;
  }
  /* offcanvas */

  .sticky__top {
    position: static;
  }

  .single__heading {
    font-size: 25px;
  }

  .container-large,
  .small__content {
    padding-left: 30px;
    padding-right: 30px;
  }

  .sub__heading,
  .entry-title {
    font-size: 30px;
    line-height: 32px;
  }
  .light__bg {
    padding: 40px 0;
  }
  .btn__center {
    margin-top: 30px;
  }
  .section-t {
    padding-top: 60px;
  }
  .section-b {
    padding-bottom: 60px;
  }
  .section {
    padding: 60px 0;
  }

  .top__header .custom-logo {
    width: 350px;
  }
  .top__header {
    padding: 10px 0;
  }

  .banner__text .banner__heading {
    font-size: 60px;
    line-height: 64px;
  }
  .banner__text p {
    font-size: 20px;
    line-height: 30px;
  }

  .about__content p {
    font-size: 20px;
    line-height: 32px;
    font-family: var(--medium-font);
  }
  .main__heading {
    font-size: 70px;
    line-height: 50px;
    letter-spacing: -3px;
  }
  .service__content ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .service__container {
    margin-top: 50px;
  }
  .service__img img {
    height: 420px;
  }
  .why__title {
    font-size: 26px;
    line-height: 32px;
  }
  .why__us::before {
    width: 100px;
  }
  .testi__content p {
    font-size: 26px;
    line-height: 36px;
    letter-spacing: -0.5px;
  }
  .testimonial__section::before {
    top: 40px;
    width: 185px;
  }
  .testi__pagination {
    margin-top: 10px;
  }
  .testimonial__section {
    padding-bottom: 10px;
  }
  .testi__info {
    font-size: 22px;
  }
  .testi__info span {
    font-size: 18px;
  }
  .testi__container {
    margin-top: 50px;
  }
  .footer__head h2 {
    font-size: 50px;
    line-height: 54px;
    letter-spacing: -2px;
  }
  .footer__content{
    flex-direction: column;
  }
  .footer__head {
    max-width: 600px;
  }

}


@media (max-width: 639px) {
  .section-t {
    padding-top: 40px;
  }
  .section-b {
    padding-bottom: 40px;
  }
  .section {
    padding: 40px 0;
  }
  .small-margin {
    margin: 10px 0;
  }

  .small__section {
    padding: 30px 0;
  }
  .content__wrapper {
    margin-top: 20px;
  }
  .link__title a {
    font-size: 18px;
    line-height: 18px;
  }
  .link__title.link__title-large a,
  .the__title-large {
    font-size: 18px;
    line-height: 20px;
  }

  .the__content h1 {
    font-size: 26px;
  }
  .the__content h2 {
    font-size: 20px;
  }
  .main__heading {
    font-size: 50px;
    line-height: 40px;
  }
  .main__heading.small {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0;
  }
  .the__content p {
    font-size: 18px;
    line-height: 30px;
  }
  .sub__heading,
  .entry-title {
    font-size: 25px;
    line-height: 27px;
  }
  .entry-title {
    margin-bottom: 10px;
  }
  .sub__title p {
    font-size: 14px;
    line-height: 24px;
    margin-top: 15px;
  }
  .btn span {
    font-size: 12px;
    padding: 8px 16px 9px;
  }
  .container-large,
  .small__content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .single__heading {
    font-size: 22px;
  }

  .error-404 {
    padding-top: 120px;
  }
  .error-404 .error-watermark {
    top: calc(50% - 69px);
    font-size: 160px;
  }
  .error-404 .error-title {
    font-size: 25px;
  }
  .error-404 .error-text {
    font-size: 14px;
    margin-top: 10px;
  }

  .list-wrap ul li {
    font-size: 15px;
  }

  /* Galleries
--------------------------------------------- */

  .gallery-columns-2,
  .gallery-columns-3,
  .gallery-columns-4,
  .gallery-columns-5,
  .gallery-columns-6,
  .gallery-columns-7,
  .gallery-columns-8,
  .gallery-columns-9 {
    grid-template-columns: repeat(1, 1fr);
  }
  .gallery-item img {
    height: auto;
  }
  .popup__form form p {
    grid-column: span 12;
  }

  .the__title.large {
    font-size: 17px;
    line-height: 20px;
  }
  .txt-overlay {
    padding: 20px;
    padding-bottom: 15px;
  }
  .overlay__card .hover__img img {
    height: auto;
  }

  /* popup form */
  .uk-modal-body {
    padding: 20px 20px;
  }

  .pop__head {
    font-size: 22px;
    line-height: 26px;
  }
  .pop__head span {
    font-size: 18px;
  }

  input:not([type="submit"]),
  select,
  textarea {
    padding: 8px 10px;
  }
  input[type="submit"] {
    padding: 8px 20px 8px;
    font-size: 14px;
  }
  .uk-modal-close-default {
    top: 2px;
    right: 2px;
    padding: 5px;
  }
  /* popup form */

  .offcanvas {
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  .offcanvas .offcanvas__bar {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
  }
  .offcanvas .offcanvas__bar.showbar {
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  .offcanvas .offcanvas__bar .offcanvas__sidebar {
    min-width: 250px;
  }

  /*  */

  .btn__center {
    margin-top: 20px;
  }
  .banner__text .banner__heading {
    font-size: 50px;
    line-height: 54px;
  }
  .banner__text p {
    font-size: 18px;
    line-height: 28px;
  }
  .banner__section,
  .banner__slider img,
  .banner__slider {
    height: 600px;
  }

  .page__banner,
  .page__banner .banner__slider,
  .page__banner .banner__slider img {
    height: 250px;
  }

  .single__banner,
  .single__banner .banner__slider img,
  .single__banner .banner__slider {
    height: 600px;
  }

  .page__banner .banner__text {
    top: auto;
    bottom: 0;
  }
  .home__banner .item::after {
    height: 123px;
  }

  .service__container {
    margin-top: 30px;
  }
  .service__img {
    margin-top: 20px;
  }
  .service__content {
    margin-top: 10px;
  }
  .service__content ul li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .service__content ul li span {
    font-size: 60px;
    line-height: 60px;
  }
  .service__content ul {
    row-gap: 20px;
  }
  .service__content ul li {
    font-size: 20px;
    line-height: 26px;
  }
  .service__section::before {
    top: -10px;
    width: 400px;
    height: 180px;
  }
  .why__wrapper img {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
  }
  .why__title {
    text-align: center;
    margin-top: 10px;
    padding-right: 0;
    font-size: 20px;
    line-height: 24px;
  }
  .why__us__container {
    margin-top: 40px;
  }
  .why__us::before {
    width: 70px;
  }
  .testi__content p {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0;
  }
  .testi__info {
    font-size: 18px;
  }
  .testi__info span {
    font-size: 16px;
  }
  .testi__wrapper {
    gap: 20px;
  }
  .testimonial__section::before {
    top: 30px;
    width: 100px;
  }
  .testi__container {
    margin-top: 30px;
  }
  .testi__img img {
    height: 350px;
  }
  .fraction {
    font-size: 22px;
    line-height: 80px;
  }
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    height: 4px !important;
    margin-top: -1px;
  }
  .about__content p {
    font-size: 18px;
    line-height: 30px;
  }
  .bottom__footer {
    gap: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .footer__content {
    padding: 40px 0;
  }
  .footer__head h2 {
    font-size: 38px;
    line-height: 42px;
    margin-bottom: 10px;
  }
  .footer__head span {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
  }
  .footer__content .header__contact a {
    font-size: 20px;
    line-height: 24px;
  }
  .footer__content .header__contact img {
    width: 35px;
    margin-right: 3px;
  }
  .footer__contact {
    margin-top: 25px;
  }
}
