@media (max-width: 1399px) {
  .footer__info {
    grid-template-columns: repeat(3, 1fr);
  }
  .overlay__card.lg .overlay__title {
    font-size: 26px;
    line-height: 30px;
  }
  .site-header .custom-logo {
    width: 150px;
  }
  .header__grid {
    grid-template-columns: 150px 1fr 150px;
  }
  .main-navigation > div > ul > li > a {
    padding: 18px 12px;
    font-size: 15px;
  }
}

@media (max-width: 1199px) {
  /* offcanvas */
  .offcanvas {
    min-height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10000;
    left: -100%;
    transition: all 0.5s linear;
    display: block;
    transition-delay: 0.5s;
  }
  .offcanvas.show {
    left: 0;
  }
  .offcanvas::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #1e2f228a;
    transition: all 0.5s linear;
    backdrop-filter: blur(3px);
  }
  .offcanvas.show {
    transition-delay: 0s;
  }
  .offcanvas .offcanvas__bar {
    width: 100%;
    position: relative;
    z-index: 10;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: all 0.5s linear;
  }
  .offcanvas.show .offcanvas__bar {
    transition-delay: 0.5s;
  }
  .offcanvas .offcanvas__bar .offcanvas__sidebar {
    width: 100%;
    background: #fff;
    position: relative;
    z-index: 10;
    height: 100%;
    position: relative;
    background-image: url("../img/facilities-bg.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
  }

  .offcanvas .offcanvas__bar .offcanvas__sidebar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #1e2f22 0%, rgba(30, 47, 34, 0) 200%);
    pointer-events: none;
    z-index: 1;
  }

  .offcanvas .offcanvas__bar.showbar {
    left: 0;
  }
  .offcanvas__logo {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
  }

  .offcanvas__logo .custom-logo-link {
    padding: 20px;
    display: block;
    text-align: center;
    background: var(--primary);
    border-bottom: 1px solid #ffffff45;
  }
  .offcanvas__logo a img {
    width: 120px;
    margin: 0 auto;
    display: inline-block;
    opacity: 0;
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -webkit-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }
  .offcanvas__close {
    position: absolute;
    top: 16px;
    background: #fff;
    width: 50px;
    height: 50px;
    z-index: 100;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
  }

  .offcanvas__close .offcanvas__icon {
    width: 20px;
    line-height: 0;
  }
  .offcanvas__close .offcanvas__icon span {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 2px;
    vertical-align: top;
    background: var(--primary);
  }
  .offcanvas__close .offcanvas__icon span + span {
    margin-top: 5px;
  }

  .offcanvas.show .offcanvas__close .offcanvas__icon span:nth-child(1) {
    animation: ease 0.7s 1s icon1 forwards;
  }

  .offcanvas.show .offcanvas__close .offcanvas__icon span:nth-child(2) {
    animation: ease 0.7s 1s icon2 forwards;
  }

  .offcanvas.show .offcanvas__close .offcanvas__icon span:nth-child(3) {
    animation: ease 0.7s 1s icon3 forwards;
  }
  @keyframes icon1 {
    0% {
      top: 0;
      transform: rotate(0);
    }
    50% {
      top: 7px;
      transform: rotate(0);
    }
    100% {
      top: 7px;
      transform: rotate(45deg);
    }
  }
  @keyframes icon2 {
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes icon3 {
    0% {
      bottom: 0;
      transform: rotate(0);
    }
    50% {
      bottom: 7px;
      transform: rotate(0);
    }
    100% {
      bottom: 7px;
      transform: rotate(135deg);
    }
  }
  .offcanvas ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #primary-menu1 > li > a {
    color: #fff;
    /* text-transform: capitalize;
    font-size: 15px; */
    padding: 10px 20px;
    display: inline-block;
    border-radius: 12px;

    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
  }

  #primary-menu1 > li > ul,
  #primary-menu1 > li > ul > li > ul {
    display: none;
  }

  #primary-menu1 li {
    position: relative;
    cursor: pointer;
    width: max-content;
  }

  #primary-menu1 > li > a:hover,
  #primary-menu1 > li a.show-active,
  #primary-menu1 > li.menu-item-has-children ul li a.show-active,
  #primary-menu1 > li > a:focus,
  #primary-menu1 > li:hover > a,
  #primary-menu1 > li:focus > a {
    /* background: #79de9066; */
    color: var(--secondary);
  }

  #primary-menu1 > li > ul > li:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  #primary-menu1 li.menu-item-has-children span {
    color: var(--primary);
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 20px;
    width: 38px;
    height: 38px;
    background: #fff;
    right: 3px;
    border-radius: 12px;
  }
  #primary-menu1 li.menu-item-has-children span i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  #primary-menu1 li.menu-item-has-children > ul {
    margin-top: 5px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }

  #primary-menu1
    li.menu-item-has-children
    > ul
    > li.menu-item-has-children
    > ul {
    background: #fff;
    margin: 0;
    margin-top: 5px;
    border-radius: 0;
    padding: 0;
    border-bottom: 1px solid transparent;
  }
  #primary-menu1 > li.menu-item-has-children > span {
    top: 21px;
  }

  #primary-menu1 > li.menu-item-has-children ul li {
    border-radius: 12px;
  }
  #primary-menu1 > li.menu-item-has-children ul li a {
    font-size: 14px;
    color: #444;
    font-weight: 400;
    padding: 10px 30px;
    display: block;
    text-transform: capitalize;
    border-radius: 12px;
  }

  /* #primary-menu1 > li ul li:hover > a {
    color: var(--primary);
    background: #0058880d;
  } */

  #primary-menu1
    > li.menu-item-has-children
    ul
    li.menu-item-has-children
    ul
    li
    a {
    padding-left: 40px;
  }

  #primary-menu1
    > li.menu-item-has-children
    ul
    li.menu-item-has-children
    ul
    li.menu-item-has-children
    ul
    li
    a {
    padding-left: 60px;
  }
  .offcanvas__nav {
    display: flex;
    justify-content: center;

    opacity: 0;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }
  .offcanvas__content {
    position: relative;
    z-index: 2;
    flex: 1;
    overflow-y: auto;
  }
  .offcanvas__content .uk-grid {
    height: 100%;
    align-items: center;
  }
  .offcanvas__content .uk-grid > div > div {
    padding: 40px 0;
  }
  .offcanvas__contact {
    padding: 20px 30px;

    opacity: 0;
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -webkit-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }
  .offcanvas__contact .header__contact:not(:last-child) {
    margin-bottom: 20px;
  }
  .offcanvas__contact .header__contact a,
  .offcanvas__contact .header__contact strong {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
  }
  .offcanvas__contact .header__contact strong {
    color: var(--secondary);
    display: block;
  }
  .offcanvas__contact .header__contact a:hover {
    color: var(--secondary);
  }

  .offcanvas.show .offcanvas__logo a img,
  .offcanvas.show .offcanvas__contact,
  .offcanvas.show .offcanvas__nav {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  .offcanvas.show .offcanvas__logo a img {
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
  }

  .offcanvas.show .offcanvas__nav {
    -webkit-transition-delay: 1.5s;
    -o-transition-delay: 1.5s;
    transition-delay: 1.5s;
  }
  .offcanvas.show .offcanvas__contact {
    -webkit-transition-delay: 2s;
    -o-transition-delay: 2s;
    transition-delay: 2s;
  }
  /* offcanvas */

  .footer__grid {
    grid-template-columns: 1fr;
  }
  .youth__empowerment__img img {
    width: 800px;
  }
  .header__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 959px) {
  .section {
    padding: 50px 0;
  }
  .section-t {
    padding-top: 50px;
  }
  .section-b {
    padding-bottom: 50px;
  }

  .main__heading {
    font-size: 27px;
    line-height: 34px;
  }
  .the__content.lg p {
    font-size: 17px;
    line-height: 29px;
  }
  .sub__heading {
    font-size: 18px;
    line-height: 32px;
  }
  .youth__empowerment__img img {
    width: 100%;
  }
  .youth__empowerment__img {
    margin-bottom: -20px;
  }
  .testimonial__container > .uk-grid > div:not(:last-child) {
    margin-bottom: 50px;
  }

  .testimonial__title {
    font-size: 23px;
    line-height: 33px;
  }
  .testimonial__card {
    max-width: 500px;
    margin: 0 auto;
  }
  .news__section::before {
    width: 600px;
  }
  .sound__healing__txt {
    font-size: 60px;
    line-height: 80px;
  }
  .sound__healing__txt span {
    font-size: 110px;
  }
  .service__card {
    max-width: 500px;
    margin: 0 auto;
  }
  .intro__content p {
    font-size: 16px;
    line-height: 32px;
  }
  .intro__content p:first-child {
    font-size: 19px;
  }
}

@media (max-width: 767px) {
  .footer__info {
    grid-template-columns: repeat(2, 1fr);
  }
  .sound__healing__txt {
    position: static;
    transform: translate(0);
    color: var(--secondary);
    pointer-events: auto;
  }
  .sound__healing__txt {
    font-size: 50px;
    line-height: 70px;
  }
  .sound__healing__txt span {
    font-size: 90px;
  }
  .about__container {
    width: 100%;
    padding: 0 15px;
  }
  .hamburger-menu {
    width: 34px;
    height: 22px;
  }
}
@media (max-width: 639px) {
  .error-404 {
    padding-top: 90px;
  }
  .error-404 .error-watermark {
    top: calc(50% - 90px);
    font-size: 160px;
  }
  .error-404 .error-title {
    font-size: 25px;
  }
  .error-404 .error-text {
    font-size: 14px;
    margin-top: 10px;
  }

  /* Galleries
      --------------------------------------------- */

  .gallery-columns-2,
  .gallery-columns-3,
  .gallery-columns-4,
  .gallery-columns-5,
  .gallery-columns-6,
  .gallery-columns-7,
  .gallery-columns-8,
  .gallery-columns-9 {
    grid-template-columns: repeat(1, 1fr);
  }
  .gallery-item img {
    height: auto;
  }
  .popup__form form p {
    grid-column: span 12;
  }

  .the__content p,
  .the__content.medium p,
  .entry-content p,
  .the__content li {
    font-size: 15px;
    line-height: 26px;
  }

  .content__wrapper {
    margin-top: 25px;
  }
  .section {
    padding: 30px 0;
  }
  .section-t {
    padding-top: 30px;
  }
  .section-b {
    padding-bottom: 30px;
  }
  .btn {
    padding: 6px 16px 8px;
    font-size: 14px;
  }
  .btn.sm {
    padding: 3px 11px 5px;
    font-size: 12px;
  }
  input[type="submit"] {
    padding: 10px 16px 12px;
    font-size: 14px;
  }

  .footer__grid {
    row-gap: 30px;
  }

  .footer__info {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }
  .footer__logo .custom-logo {
    width: 180px;
  }
  .bottom__footer {
    padding-top: 20px;
    margin-top: 20px;
  }
  .bottom__footer p span {
    display: block;
  }
  .site-footer::after {
    width: 400px;
    height: 400px;
  }
  .main__heading {
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 10px;
  }
  .sub__heading {
    font-size: 16px;
    line-height: 28px;
  }
  .the__content.lg p {
    font-size: 16px;
    line-height: 28px;
  }
  .accordion__wrapper ul li {
    padding: 20px 20px;
  }
  .accordion__wrapper .uk-accordion-title {
    font-size: 18px;
    line-height: 25px;
  }
  .accordion__wrapper .uk-accordion-content p {
    font-size: 15px;
    line-height: 26px;
  }
  .accordion__wrapper .uk-accordion-content {
    margin-top: 5px;
  }
  .accordion__wrapper .uk-accordion-title::before {
    font-size: 12px;
    width: 24px;
    height: 24px;
  }
  .youth__empowerment__img {
    margin-bottom: 0;
  }
  .btn__center.sm {
    margin-top: 14px;
  }
  .overlay__card::after {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 18.66%,
      rgba(0, 0, 0, 0.8) 100%
    );
  }
  .overlay__content,
  .overlay__card.lg .overlay__content {
    padding: 20px 20px 15px;
  }
  .overlay__card.lg .overlay__img img {
    aspect-ratio: 1/1;
  }
  .overlay__card.lg .overlay__title {
    font-size: 19px;
    line-height: 28px;
  }
  .testimonial__container {
    margin-top: 70px;
  }
  .testimonial__profile img {
    width: 100px;
    height: 100px;
    border: 5px solid #fff;
    margin-bottom: 10px;
  }
  .testimonial__title {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 5px;
  }
  .testimonial__card {
    padding: 20px;
  }
  .testimonial__profile {
    margin-top: -60px;
  }
  .testimonial__info {
    font-size: 18px;
    line-height: 18px;
  }
  .testimonial__info span {
    font-size: 14px;
  }
  .testimonial__container > .uk-grid > div:not(:last-child) {
    margin-bottom: 40px;
  }
  .event__section .sticky__top {
    padding-right: 15px;
  }
  .event__section::before,
  .news__section::before {
    width: 300px;
  }
  .news__section::before {
    background-position: top;
  }
  .sound__healing__txt {
    font-size: 25px;
    line-height: 45px;
    margin-top: 10px;
  }
  .sound__healing__txt span {
    font-size: 55px;
  }
  .course__content {
    padding: 15px;
    padding-top: 13px;
  }
  .course__img .course__info {
    padding: 15px;
  }
  .about__content p {
    font-size: 16px;
    line-height: 28px;
  }
  .about__content {
    padding: 15px 15px;
  }
  .btn__center.lg {
    margin-top: 20px;
  }
  .about__section {
    min-height: auto;
  }
  .about__img {
    bottom: -30px;
    margin-top: -30px;
  }
  .about__img img {
    height: auto;
  }
  .about__container {
    bottom: 10px;
  }
  .about__section::after {
    width: 400px;
  }
  .intro__content p:first-child {
    font-size: 17px;
  }
  .intro__content p {
    font-size: 15px;
    line-height: 30px;
  }
  .service__title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .service__card {
    padding: 30px 30px;
  }
  .service__icon {
    margin-bottom: 10px;
  }
  .site-header .custom-logo {
    width: 120px;
  }
  .site-header.fixed .custom-logo {
    width: 110px;
  }
  .nav__header {
    padding: 20px 0;
  }
  .top__header .flex-between {
    justify-content: center;
  }
  .hamburger-menu {
    width: 28px;
    height: 18px;
  }
  .line {
    height: 2px;
  }
}
